<section class="menu-component">
    <div class="menu">
        <div class="menu-inner">
            <input class="menu-open" type="radio" id="menu-1" name="menu" aria-hidden="true" hidden="" checked="checked">
            <div class="menu-item">
                <img onclick="openFridge()" width="87" height="100" src="~/pics/fridge.svg" />
            </div>
            <input class="menu-open" type="radio" id="menu-2" name="menu" aria-hidden="true" hidden="">
            <div class="menu-item">
                <img id="bottomSleepIcon" onclick="goToSleep()" width="100" height="100" src="~/pics/sleep.svg" />
            </div>
            <input class="menu-open" type="radio" id="menu-3" name="menu" aria-hidden="true" hidden="">
            <div  class="menu-item">
                <img id="js-fun-item" onclick="bounce()" width="100" height="100" src="~/pics/volleyball.svg" />
            </div>
            <label for="menu-3" class="menu-control prev control-1">
                <svg width="55" height="91" viewBox="0 0 55 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.22069 49.0508L42.7168 89.5462C43.6535 90.4836 44.9038 91 46.237 91C47.5701 91 48.8204 90.4836 49.7571 89.5462L52.7393 86.5647C54.6799 84.6219 54.6799 81.4643 52.7393 79.5245L18.7337 45.5189L52.7771 11.4755C53.7137 10.5382 54.2308 9.28858 54.2308 7.95615C54.2308 6.62223 53.7137 5.37265 52.7771 4.43455L49.7948 1.45377C48.8574 0.516403 47.6079 0 46.2747 0C44.9415 0 43.6912 0.516403 42.7546 1.45377L2.22069 41.9862C1.28184 42.9265 0.766178 44.182 0.769138 45.5166C0.766178 46.8565 1.28184 48.1112 2.22069 49.0508Z" fill="#FFF5CB" />
                </svg>
            </label>
            <label for="menu-2" class="menu-control next control-1">
                <svg width="55" height="91" viewBox="0 0 55 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.7793 41.9492L12.2832 1.45377C11.3465 0.516402 10.0962 0 8.76304 0C7.42987 0 6.17955 0.516402 5.24293 1.45377L2.26067 4.43529C0.320088 6.37809 0.320088 9.53569 2.26067 11.4755L36.2663 45.4811L2.22293 79.5245C1.28631 80.4618 0.769165 81.7114 0.769165 83.0439C0.769165 84.3778 1.28631 85.6273 2.22293 86.5655L5.20519 89.5462C6.14256 90.4836 7.39214 91 8.72531 91C10.0585 91 11.3088 90.4836 12.2454 89.5462L52.7793 49.0138C53.7182 48.0735 54.2338 46.818 54.2309 45.4834C54.2338 44.1435 53.7182 42.8888 52.7793 41.9492Z" fill="#FFF5CB" />
                </svg>
            </label>
            <label for="menu-1" class="menu-control prev control-2">
                <svg width="55" height="91" viewBox="0 0 55 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.22069 49.0508L42.7168 89.5462C43.6535 90.4836 44.9038 91 46.237 91C47.5701 91 48.8204 90.4836 49.7571 89.5462L52.7393 86.5647C54.6799 84.6219 54.6799 81.4643 52.7393 79.5245L18.7337 45.5189L52.7771 11.4755C53.7137 10.5382 54.2308 9.28858 54.2308 7.95615C54.2308 6.62223 53.7137 5.37265 52.7771 4.43455L49.7948 1.45377C48.8574 0.516403 47.6079 0 46.2747 0C44.9415 0 43.6912 0.516403 42.7546 1.45377L2.22069 41.9862C1.28184 42.9265 0.766178 44.182 0.769138 45.5166C0.766178 46.8565 1.28184 48.1112 2.22069 49.0508Z" fill="#FFF5CB" />
                </svg>
            </label>
            <label for="menu-3" class="menu-control next control-2">
                <svg width="55" height="91" viewBox="0 0 55 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.7793 41.9492L12.2832 1.45377C11.3465 0.516402 10.0962 0 8.76304 0C7.42987 0 6.17955 0.516402 5.24293 1.45377L2.26067 4.43529C0.320088 6.37809 0.320088 9.53569 2.26067 11.4755L36.2663 45.4811L2.22293 79.5245C1.28631 80.4618 0.769165 81.7114 0.769165 83.0439C0.769165 84.3778 1.28631 85.6273 2.22293 86.5655L5.20519 89.5462C6.14256 90.4836 7.39214 91 8.72531 91C10.0585 91 11.3088 90.4836 12.2454 89.5462L52.7793 49.0138C53.7182 48.0735 54.2338 46.818 54.2309 45.4834C54.2338 44.1435 53.7182 42.8888 52.7793 41.9492Z" fill="#FFF5CB" />
                </svg>
            </label>
            <label for="menu-2" class="menu-control prev control-3">
                <svg width="55" height="91" viewBox="0 0 55 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.22069 49.0508L42.7168 89.5462C43.6535 90.4836 44.9038 91 46.237 91C47.5701 91 48.8204 90.4836 49.7571 89.5462L52.7393 86.5647C54.6799 84.6219 54.6799 81.4643 52.7393 79.5245L18.7337 45.5189L52.7771 11.4755C53.7137 10.5382 54.2308 9.28858 54.2308 7.95615C54.2308 6.62223 53.7137 5.37265 52.7771 4.43455L49.7948 1.45377C48.8574 0.516403 47.6079 0 46.2747 0C44.9415 0 43.6912 0.516403 42.7546 1.45377L2.22069 41.9862C1.28184 42.9265 0.766178 44.182 0.769138 45.5166C0.766178 46.8565 1.28184 48.1112 2.22069 49.0508Z" fill="#FFF5CB" />
                </svg>
            </label>
            <label for="menu-1" class="menu-control next control-3">
                <svg width="55" height="91" viewBox="0 0 55 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.7793 41.9492L12.2832 1.45377C11.3465 0.516402 10.0962 0 8.76304 0C7.42987 0 6.17955 0.516402 5.24293 1.45377L2.26067 4.43529C0.320088 6.37809 0.320088 9.53569 2.26067 11.4755L36.2663 45.4811L2.22293 79.5245C1.28631 80.4618 0.769165 81.7114 0.769165 83.0439C0.769165 84.3778 1.28631 85.6273 2.22293 86.5655L5.20519 89.5462C6.14256 90.4836 7.39214 91 8.72531 91C10.0585 91 11.3088 90.4836 12.2454 89.5462L52.7793 49.0138C53.7182 48.0735 54.2338 46.818 54.2309 45.4834C54.2338 44.1435 53.7182 42.8888 52.7793 41.9492Z" fill="#FFF5CB" />
                </svg>
            </label>
        </div>
    </div>
</section>