@model The_Blob.Models.Combiner
@{
    ViewData["Title"] = "Index";
}


<section class="store-component">

    @foreach (var item in Model.product)
    {
        <ul class="store-item">
            <li class="store-price">
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </li>
            <li class="store-image">
                <img src="#" alt="Alternate Text" />
            </li>
            <li class="store-percentage">
                @Html.DisplayFor(modelItem => item.ProductPercentage)
            </li>
        </ul>
    }

</section>
