
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="topMenuComponent">
    <div class="topMenuComponent--charCurrency">
        <p id="textCurrency">@ViewData["Currency"]</p>

        <img src="~/pics/dollar.svg" width="36" height="36" class="topMenuComponent--charCurrency-coin" />

    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorSleeping">
                <svg width="29" height="94" viewBox="0 0 29 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.09116 7.62939e-06H24.8888C27.0483 0.073349 28.7439 1.94099 28.6813 4.177L28.6813 64.744H0.318818L0.318818 4.177C0.254148 1.94809 1.93877 0.0828171 4.09116 7.62939e-06Z" fill="#BDC3C7" />
                    <path d="M0.464844 28.1031H28.4648L28.4648 93.07L0.464844 94L0.464844 28.1031Z" fill="#ADC7FF" />
                    <path d="M10.405 66.8326C10.4103 67.3881 10.1993 67.9226 9.82001 68.3153C9.44068 68.7081 8.92446 68.9265 8.3879 68.921C8.1242 68.9182 7.86346 68.8616 7.62055 68.7547C7.37146 68.6586 7.14478 68.5089 6.95557 68.3153C6.46608 67.8273 6.25128 67.1142 6.38611 66.4245C6.5207 65.7349 6.98642 65.1642 7.62055 64.9113C7.86026 64.7939 8.12305 64.7367 8.3879 64.744C8.92446 64.7386 9.44068 64.957 9.82001 65.3497C10.1993 65.7427 10.4103 66.2771 10.405 66.8326Z" fill="#E6E7E8" />
                    <path d="M10.405 39.6818V50.1244C10.405 51.2778 9.50194 52.213 8.3877 52.213C7.27368 52.213 6.37036 51.278 6.37036 50.1244L6.37036 39.6818C6.37036 38.5284 7.27345 37.5932 8.3877 37.5932C9.50194 37.5934 10.405 38.5284 10.405 39.6818Z" fill="#E6E7E8" />
                </svg>
            </div>
        </div>
        <img class="topMenuComponent--statBars-barImage" width="44" height="44" src="~/pics/sleep.svg" />
    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorHunger">
                <svg width="37" height="91" viewBox="0 0 37 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.1277 1.52588e-05L32.9253 1.52588e-05C35.0848 0.0710182 36.7804 1.87906 36.7178 4.04371L36.7178 62.6779L8.35532 62.6779L8.35532 4.04371C8.29065 1.88593 9.97527 0.0801811 12.1277 1.52588e-05Z" fill="#BDC3C7" />
                    <path d="M8.66663 27.206L36.6666 27.206L36.6666 90.0996L8.66663 91L8.66663 27.206Z" fill="#F46197" />
                    <path d="M2.15513 41.6583C1.58189 41.6632 1.03037 41.4653 0.625101 41.1094C0.219828 40.7536 -0.00551275 40.2693 0.000102484 39.7659C0.00303217 39.5185 0.0613825 39.2739 0.171734 39.046C0.270855 38.8123 0.425395 38.5997 0.625101 38.4222C1.12876 37.963 1.8646 37.7614 2.57627 37.8879C3.28794 38.0142 3.87681 38.4511 4.13779 39.046C4.25889 39.2709 4.31797 39.5174 4.3104 39.7659C4.31602 40.2693 4.09068 40.7536 3.6854 41.1094C3.27989 41.4653 2.72837 41.6632 2.15513 41.6583Z" fill="#E6E7E8" />
                    <path d="M17.6771 39.3777L17.6771 50.1536C17.6771 51.3438 16.8298 52.3089 15.7845 52.3089C14.7394 52.3089 13.892 51.3441 13.892 50.1536L13.892 39.3777C13.892 38.1876 14.7392 37.2225 15.7845 37.2225C16.8298 37.2227 17.6771 38.1876 17.6771 39.3777Z" fill="#E6E7E8" />
                    <path d="M18.088 64.8326C18.0932 65.3881 17.8823 65.9226 17.503 66.3153C17.1237 66.7081 16.6074 66.9265 16.0709 66.921C15.8072 66.9182 15.5464 66.8616 15.3035 66.7547C15.0544 66.6586 14.8278 66.5089 14.6385 66.3153C14.1491 65.8273 13.9343 65.1142 14.0691 64.4245C14.2037 63.7349 14.6694 63.1642 15.3035 62.9113C15.5432 62.7939 15.806 62.7367 16.0709 62.744C16.6074 62.7386 17.1237 62.957 17.503 63.3497C17.8823 63.7427 18.0932 64.2771 18.088 64.8326Z" fill="white" />
                </svg>
            </div>
        </div>
        <img width="43" height="41" class="topMenuComponent--statBars-barImage" src="~/pics/pizza.svg" />
    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorFun">
                <svg width="29" height="94" viewBox="0 0 29 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.77414 7.62939e-06H24.5718C26.7313 0.073349 28.4269 1.94099 28.3642 4.177L28.3642 64.744H0.00180128L0.00180128 4.177C-0.0628686 1.94809 1.62175 0.0828171 3.77414 7.62939e-06Z" fill="#BDC3C7" />
                    <path d="M0.147827 8.72164H28.1478L28.1478 92.7964L0.147827 94L0.147827 8.72164Z" fill="#4A9658" />
                    <path d="M10.088 66.8326C10.0932 67.3881 9.88233 67.9226 9.50299 68.3153C9.12366 68.7081 8.60744 68.9265 8.07089 68.921C7.80718 68.9182 7.54644 68.8616 7.30353 68.7547C7.05445 68.6586 6.82776 68.5089 6.63855 68.3153C6.14907 67.8273 5.93426 67.1142 6.06909 66.4245C6.20368 65.7349 6.6694 65.1642 7.30353 64.9113C7.54324 64.7939 7.80604 64.7367 8.07089 64.744C8.60744 64.7386 9.12366 64.957 9.50299 65.3497C9.88233 65.7427 10.0932 66.2771 10.088 66.8326Z" fill="#BDC3C7" />
                    <path d="M10.088 39.6818V50.1244C10.088 51.2778 9.18492 52.213 8.07068 52.213C6.95666 52.213 6.05334 51.278 6.05334 50.1244L6.05334 39.6818C6.05334 38.5284 6.95644 37.5932 8.07068 37.5932C9.18492 37.5934 10.088 38.5284 10.088 39.6818Z" fill="#E6E7E8" />
                </svg>
            </div>
        </div>
        <img class="topMenuComponent--statBars-barImage" width="40" height="40" src="~/pics/volleyball.svg" />
    </div>
    <div class="topMenuComponent--userAccount">
        <a asp-controller="Users" asp-action="Edit" asp-route-id="@ViewData["UserID"]">       
            <div class="topMenuComponent--userAccount-circleAccount">
                <p id="letterAccount">I</p>
            </div>
        </a>
    </div>
</section>