@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="topMenuComponent">
    <div class="topMenuComponent--charCurrency">
        <p id="textCurrency">@ViewData["Currency"]</p>
    </div>
    <div class="topMenuComponent--statBars">



        <svg class="sleep-svg bar-svg" width="28" height="67" viewBox="0 0 28 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="bargrey"  d="M28 8.78142L28 57.1721C27.9721 61.5907 27.3441 65.1746 26.5354 65.8756C26.347 66.0389 26.0684 65.9961 25.819 65.9961H5C2.23858 65.9961 0 63.7575 0 60.9961L0 5.00419C0 2.24276 2.23858 0.00419109 5 0.00419109L25.8057 0.00419109C26.0639 0.00419109 26.3541 -0.039706 26.5464 0.132638C27.3471 0.850344 27.9687 4.39921 28 8.78142Z" fill="#BDC3C7" />
            <path class="barfill" id="js-sleepbar" d="M28 0C25.7614 0 28 2.23858 28 5L28 61C28 63.7614 25.7614 66 23 66H5.36533C2.61559 66 0.381883 63.7796 0.365419 61.0299L0.0301169 5.02993C0.013513 2.25686 2.2569 0 5.03003 0L23 0Z" fill="#ADC7FF" />
        </svg>


        <img class="topMenuComponent--statBars-barImage" width="44" height="44" src="~/pics/sleep.svg" />
    </div>
    <div class="topMenuComponent--statBars">

        <svg class="hunger-svg bar-svg" width="28" height="67" viewBox="0 0 28 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="bargrey" d="M28 8.78142L28 57.1721C27.9721 61.5907 27.3441 65.1746 26.5354 65.8756C26.347 66.0389 26.0684 65.9961 25.819 65.9961H5C2.23858 65.9961 0 63.7575 0 60.9961L0 5.00419C0 2.24276 2.23858 0.00419109 5 0.00419109L25.8057 0.00419109C26.0639 0.00419109 26.3541 -0.039706 26.5464 0.132638C27.3471 0.850344 27.9687 4.39921 28 8.78142Z" fill="#BDC3C7" />
            <path class="barfill" id="js-sleepbar" d="M28 0C25.7614 0 28 2.23858 28 5L28 61C28 63.7614 25.7614 66 23 66H5.36533C2.61559 66 0.381883 63.7796 0.365419 61.0299L0.0301169 5.02993C0.013513 2.25686 2.2569 0 5.03003 0L23 0Z" fill="#F46197" />
        </svg>

        <img width="43" height="41" class="topMenuComponent--statBars-barImage" src="~/pics/pizza.svg" />
    </div>
    <div class="topMenuComponent--statBars">

        <svg class="volleyball-svg bar-svg" width="28" height="67" viewBox="0 0 28 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="bargrey" d="M28 8.78142L28 57.1721C27.9721 61.5907 27.3441 65.1746 26.5354 65.8756C26.347 66.0389 26.0684 65.9961 25.819 65.9961H5C2.23858 65.9961 0 63.7575 0 60.9961L0 5.00419C0 2.24276 2.23858 0.00419109 5 0.00419109L25.8057 0.00419109C26.0639 0.00419109 26.3541 -0.039706 26.5464 0.132638C27.3471 0.850344 27.9687 4.39921 28 8.78142Z" fill="#BDC3C7" />
        <path class="barfill" id="js-sleepbar" d="M28 0C25.7614 0 28 2.23858 28 5L28 61C28 63.7614 25.7614 66 23 66H5.36533C2.61559 66 0.381883 63.7796 0.365419 61.0299L0.0301169 5.02993C0.013513 2.25686 2.2569 0 5.03003 0L23 0Z" fill="#4A9658" />
        </svg>


        <img class="topMenuComponent--statBars-barImage" width="40" height="40" src="~/pics/volleyball.svg" />
    </div>
    <div class="topMenuComponent--userAccount">
        <a asp-controller="Users" asp-action="Edit" asp-route-id="@ViewData["UserID"]">
            <div class="topMenuComponent--userAccount-circleAccount">
                <p id="letterAccount">@ViewData["UserFirstLetter"]</p>
            </div>
        </a>
    </div>
</section>

