
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="topMenuComponent">
    <div class="topMenuComponent--charCurrency">
        <p id="textCurrency">@ViewData["Currency"]</p>

        <img src="~/pics/dollar.svg" width="36" height="36" class="topMenuComponent--charCurrency-coin" />

    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorSleeping"></div>
        </div>
        <img class="topMenuComponent--statBars-barImage" width="44" height="44" src="~/pics/sleep.svg" />
    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorHunger" ></div>
        </div>
        <img width="43" height="41" class="topMenuComponent--statBars-barImage" src="~/pics/pizza.svg" />
    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorFun" ></div>
        </div>
        <img class="topMenuComponent--statBars-barImage" width="40" height="40" src="~/pics/volleyball.svg" />
    </div>
    <div class="topMenuComponent--userAccount">
        <a asp-controller="Users" asp-action="Edit" asp-route-id="@ViewData["UserID"]">       
            <div class="topMenuComponent--userAccount-circleAccount">
                <p id="letterAccount">I</p>
            </div>
        </a>
    </div>
</section>