
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="topMenuComponent">
    <div class="topMenuComponent--charCurrency">
        <p class="topMenuComponent--charCurrency-textCurrency">500</p>

        <svg class="topMenuComponent--charCurrency-coin" width="33" height="36" viewBox="0 0 33 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5645 0C7.49603 0 0 8.03672 0 17.9297C0 27.8227 7.49603 36 16.5645 36C25.6329 36 33 27.8227 33 17.9297C33 8.03672 25.6329 0 16.5645 0Z" fill="#FEDB41" />
            <path d="M33 17.9297C33 27.8227 25.6329 36 16.5645 36V0C25.6329 0 33 8.03672 33 17.9297Z" fill="#FED10B" />
            <path d="M16.5645 4.21875C9.64206 4.21875 3.86719 10.3781 3.86719 17.9297C3.86719 25.4813 9.64206 31.7812 16.5645 31.7812C23.4868 31.7812 29.1328 25.4813 29.1328 17.9297C29.1328 10.3781 23.4868 4.21875 16.5645 4.21875Z" fill="#FEA832" />
            <path d="M29.1328 17.9297C29.1328 25.4813 23.4868 31.7812 16.5645 31.7812V4.21875C23.4868 4.21875 29.1328 10.3781 29.1328 17.9297Z" fill="#FE9923" />
            <path d="M18.498 16.875H17.5312V12.6562H18.498C19.0395 12.6562 19.4648 13.1202 19.4648 13.7109C19.4648 15.1031 21.3984 15.1031 21.3984 13.7109C21.3984 11.9601 20.1031 10.5469 18.498 10.5469H17.5312V9.49219C17.5312 8.79602 17.0479 8.4375 16.5645 8.4375C16.0811 8.4375 15.5977 8.79602 15.5977 9.49219V10.5469H14.502C12.8969 10.5469 11.6016 11.9601 11.6016 13.7109V15.8203C11.6016 17.5712 12.8969 18.9844 14.502 18.9844H15.5977V23.3437H14.502C13.9605 23.3437 13.5352 22.8798 13.5352 22.2891C13.5352 20.8969 11.6016 20.8969 11.6016 22.2891C11.6016 24.0399 12.8969 25.4531 14.502 25.4531H15.5977V26.5078C15.5977 27.204 16.0811 27.5625 16.5645 27.5625C17.0479 27.5625 17.5312 27.204 17.5312 26.5078V25.4531H18.498C20.1031 25.4531 21.3984 24.0399 21.3984 22.2891V20.0391C21.3984 18.2882 20.1031 16.875 18.498 16.875ZM15.5977 16.875H14.502C13.9605 16.875 13.5352 16.411 13.5352 15.8203V13.7109C13.5352 13.1202 13.9605 12.6562 14.502 12.6562H15.5977V16.875ZM19.4648 22.2891C19.4648 22.8798 19.0395 23.3437 18.498 23.3437H17.5312V18.9844H18.498C19.0395 18.9844 19.4648 19.4484 19.4648 20.0391V22.2891Z" fill="#FEDB41" />
            <path d="M18.498 16.875H17.5312V12.6562H18.498C19.0395 12.6562 19.4648 13.1202 19.4648 13.7109C19.4648 15.1031 21.3984 15.1031 21.3984 13.7109C21.3984 11.9601 20.1031 10.5469 18.498 10.5469H17.5312V9.49219C17.5312 8.79602 17.0479 8.4375 16.5645 8.4375V27.5625C17.0479 27.5625 17.5312 27.204 17.5312 26.5078V25.4531H18.498C20.1031 25.4531 21.3984 24.0399 21.3984 22.2891V20.0391C21.3984 18.2882 20.1031 16.875 18.498 16.875ZM19.4648 22.2891C19.4648 22.8798 19.0395 23.3437 18.498 23.3437H17.5312V18.9844H18.498C19.0395 18.9844 19.4648 19.4484 19.4648 20.0391V22.2891Z" fill="#FED10B" />
        </svg>

    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorSleeping"></div>
        </div>
        <img class="topMenuComponent--statBars-barImage" width="44" height="44" src="~/pics/sleep.svg" />
    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorHunger" ></div>
        </div>
        <img width="43" height="41" class="topMenuComponent--statBars-barImage" src="~/pics/pizza.svg" />
    </div>
    <div class="topMenuComponent--statBars">
        <div class="topMenuComponent--statBars-bar">
            <div id="barColorFun" ></div>
        </div>
        <img class="topMenuComponent--statBars-barImage" width="40" height="40" src="~/pics/volleyball.svg" />
    </div>
    <div class="topMenuComponent--userAccount">
        <a href="">
            <p class="topMenuComponent--userAccount-letterAccount">I</p>
            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                    <circle cx="23" cy="19" r="19" fill="#BEDFC4" />
                    <circle cx="23" cy="19" r="18" stroke="#657B70" stroke-width="2" />
                </g>
                <defs>
                    <filter id="filter0_d" x="0" y="0" width="46" height="46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
        </a>
    </div>
</section>