@model The_Blob.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_Blob</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-yellow">
    <div class="row justify-content-center">
        <div class="col-5 col-md-3 justify-content-center">
            <h1 class="strongs">The Blob</h1>
            <br />
            <strong class="strongs">Welcome</strong>
            <br />
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="LOGSIG-btn strongs strongs-p" />
                </div>

            </form>
        </div>
    </div>
    <p class="strongs strongs-p">New User? <a asp-controller="Welcome" asp-action="Singup" class="strongs strongs-b">Sign Up</a> </p>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}