@model The_Blob.Models.Combiner
@{
    ViewData["Title"] = "Signup";
}

<h1>Index</h1>
<form asp-action="Signup">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="user.Email" class="control-label"></label>
        <input asp-for="user.Email" class="form-control" />
        <span asp-validation-for="user.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="user.Password" class="control-label"></label>
        <input asp-for="user.Password" type="password" class="form-control" />
        <span asp-validation-for="user.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="user.ConfirmPassword" class="control-label"></label>
        <input asp-for="user.ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="user.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="character.Name" class="control-label"></label>
        <input asp-for="character.Name" class="form-control" />
        <span asp-validation-for="character.Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Sign up" class="btn btn-primary" />
    </div>
</form>
    <p>Already a User? <a asp-action="Index">Login</a> </p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
