@import "variables.css";

.character-element {
  max-width: auto;
  max-height: 300px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  position: absolute;
}

.character-container {
  grid-area: 40 / 42 / 38 / 16;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}

.shadow-element {
  margin-top: 237px;
  margin-left: 42%;
  background: black;
  border-radius: 50%;
  opacity: 27%;
  height: 50px;
  width: 150px;
  animation: pulse 1s infinite alternate;
  position: absolute;
  z-index: -2;
}
.st0 {
  fill: #bcdcc4;
}
