.fridge-name {
  text-align: center;
  margin-top: -50px;
  font-family: var(--body-font);
}

#js-fridge-element {
  display: none;
}

.fridge-section {
  margin-top: 100px;
  display: grid;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  padding: 15px;
  height: 40%;
  background-color: var(--beige-transparent);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 20px;
  font-family: var(--body-font);
}

.fridge-item {
  list-style: none;
}

.fridge-quantity {
  position: absolute;
  padding-left: 60px;
}

.fridge-image {
  height: 70px;
  width: auto;
  padding: 5px 0 10px 0;
  cursor: pointer;
}

.fridge-percentage {
  padding-left: 10px;
}

.grocery-btn {
  text-align: center;
}
