.fridge-section {
  background-color: #1b6ec2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.fridge.item {
}

fridge-quantity {
}

fridge-image {
}

fridge-percentage {
}
