.store-section {
  margin-top: 100px;
  display: grid;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  height: 40%;
  background-color: var(--beige);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 20px;
  font-family: var(--body-font);
}

.store-item {
  display: grid;
  list-style: none;
}

.store-price {
}

.store-image {
  max-height: 30px;
  width: auto;
}

.fridge-percentage {
}
