#js-store-element {
  display: none;
}

.store-name {
  text-align: center;
  margin-top: -50px;
  font-family: var(--body-font);
}

.store-section {
  margin-top: 100px;
  display: grid;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  height: 40%;
  z-index: -1;
  background-color: var(--beige-transparent);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 20px;
  font-family: var(--body-font);
}

.store-button {
  background: transparent;
  border: none;
}
.store-item {
  padding:0;
  justify-self:center;
  list-style: none;
}

.store-price {
  position: absolute;
  padding-left: 60px;
}

.store-image {
  height: 70px;
  cursor: pointer;
  width: auto;
  padding: 5px 0 10px 0;
}

.store-percentage {
  padding-left: 10px;
}
